@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --celeste: 174, 243, 231; /* #aef3e7 */
  --cerulean: 55, 113, 142; /* #37718e */
  --green: 0, 255, 0; /* #00ff00 */
  --indigodye: 37, 78, 112; /* #254e70 */
  --nonphotoblue: 142, 227, 239; /* #8ee3ef */
  --red: 255, 0, 0; /* #ff0000 */
  --rosered: 195, 60, 84; /* #c33c54 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --celeste: 174, 243, 231; /* #aef3e7 */
    --cerulean: 55, 113, 142; /* #37718e */
    --green: 0, 255, 0; /* #00ff00 */
    --indigodye: 37, 78, 112; /* #254e70 */
    --nonphotoblue: 142, 227, 239; /* #8ee3ef */
    --red: 255, 0, 0; /* #ff0000 */
    --rosered: 195, 60, 84; /* #c33c54 */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-striped {
  -moz-appearance: textfield;

  ::-webkit-outer-spin-button,
  ::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  background: transparent;
}

.bg-striped:invalid {
  background: rgba(var(--rosered), 0.5);
}
